<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ myth.name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="container myth-detail">

    <h1>{{ myth.name }}</h1>

<img
  src="{{ url_for('static', filename='images/' + myth.image) }}"
  alt="{{ myth.name }}"
  class="detail-img"
>

<p class="myth-text">
  {{ myth.long_description }}
</p>

<a href="{{ url_for('main.dashboard') }}">← Back to Dashboard</a>

</div>

</body>
</html>